/************* IMPOSTAZIONI GENERALI *************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    min-height: var(--altezza-head-bar);
    min-width: 100%;
    background-color: orangered;
    position: fixed;
    z-index: 1;
}

main {
    min-height: 80rem;
    width: 1000px;
    margin: 0 auto;
}

footer {
    background-color: black;
    min-height: 5rem;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    margin: 0 0.2rem;
}

.margin-bottom {
    margin-bottom: 15rem;
}

:root {
    --altezza-head-bar: 4rem
}

/************* CLASSI DEBUG *************/



/************* IMPOSTAZIONI SPECIFICHE *************/
/************* HEADER *************/

.flex-conteiner {
    height: var(--altezza-head-bar);
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selector,
.shop {
    width: 20%;
}

.logo {
    text-align: center;
}

.logo > img {
    width: 20%;
}

.shop {
    text-align: end;
}

/************* MAIN *************/

.row {
    height: 20rem;
    position: relative;
    top: 5rem;
}

.article {
    /* height: 4rem; */
    width: 30%;
    position: absolute;
}

.article-center {
    left: 50%;
    transform: translateX(-50%);
}

.article-right {
    right: 0;
}

/************* CONTENUTO BOX-ARTICLE *************/

.article > img {
    width: 100%;
    
}

.heart {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    color: red;
}

.sale {
    position: absolute;
    bottom: 20%;
    left: 0;
    background-color: red;
}

.sostenibility {
    position: absolute;
    bottom: 20%;
    margin-left: 40px;
    background-color: green;
}

span {
    text-decoration: line-through black;
}
/************* :HOVER-IMG *************/

.img-retro {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.img-front:hover {
    opacity: 0;
}

.heart-retro {
    z-index: 1;
    color: black;
}

.heart:hover{
    opacity: 0;
}

/************* :HOVER-IMG *************/

footer h2 {
    color: white;
    margin-left: 0.2rem;
    margin-bottom: 0.5rem;
}

footer a {
    margin-left: 0;
}

footer h3 {
    color: white;
}

.find-us {
    text-align: center;
}

